#toc row,
.label {
	color: alpha(@fg_color, 0.7);
}

#toc row:selected,
#toc row:selected:focused {
	background-image: none;
	border-width: 0;
	color: @selected_bg_color;
	font-weight: bold;
}

/* The toc pane is coloured white by default, with the notebook
 * background grey, so make these both white ...
 */

GtkNotebook, #toc {
	background-color: white;
}

/* Workaround for Ubuntu bug 888901 ...
 */

.progressbar,
.progressbar row,
.trough,
.trough row {
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 0;

	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 0;
}
