# build artefacts:

*.o
*.lo
*.pyc

# vi/vim editor files:

*~
.*.swp

# build output:

*.la
src/cainteoir-editor
src/cainteoir-gtk
po/*.gmo
po/stamp-it

tests/content

# autotools output:

Makefile
Makefile.in

.libs/
.deps/
.dirstamp

README
NEWS
INSTALL
aclocal.m4
autom4te.cache/
ChangeLog
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
libtool
ltmain.sh

# gettext/libintl/autopoint output:

ABOUT-NLS
config.guess
config.rpath
config.sub
intltool-extract.in
intltool-merge.in
intltool-update.in
mkinstalldirs
m4/*
!m4/cxx11.m4
!m4/gtk3capabilities.m4
po/*~

po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/cainteoir-gtk.pot
po/stamp-po

# debian output:

debian/tmp/

debian/*.debhelper.log
debian/*.substvars
debian/*.debhelper
debian/debhelper.log
debian/files
debian/substvars
