/* Give the notebook a border at the top and bottom ...
 */

GtkNotebook {
	border-style: solid;
	border-top-color: @notebook_border;
	border-top-width: 1;
	border-bottom-color: @notebook_border;
	border-bottom-width: 1;
	border-left-width:  0;
	border-right-width: 0;
}
